.banner {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: gainsboro;
  padding: 0 30px;
  box-sizing: border-box;
}

h3 {
  display: none;
  text-align: center;
  margin-bottom: 65px;
}

.active {
  display: block;
}

a {

  color: black;
}

a:link {
  color: black;
}

a:hover {
  color: black;
}

form {
  display: none;
}

.form-group {
  position: relative;
  margin-bottom: 30px;
}

.form-control {
  padding-left: 30px;
}

.form-group:last-child {
  text-align: right;
}

.glyphicon {
  position: absolute;
  top: 10px;
  left: 10px;
}